/modelBased/wandb/
wandb/
outputs/

# Ignore Python bytecode files
__pycache__/

*.py[cod]

# Ignore JetBrains IDE settings
.idea/

# ignore visualisation files
modelBased/visulization
generator/visualize

# ignore model files
modelBased/models/
lightning_logs


# ignore trainer files
trainer/logs
trainer/data
